In [1]:
print(True,False)

True False

In [2]:
bool()

False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [5]:
my_str="Ravi Seshadri"

In [6]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isascii())
print(my_str.isdecimal())
print(my_str.isdigit())
print(my_str.isidentifier())
print(my_str.islower())
print(my_str.isnumeric())
print(my_str.isprintable())
print(my_str.isspace())
print(my_str.istitle())
print(my_str.isupper())

print(my_str.capitalize())
print(my_str.endswith('d'))
print(my_str.startswith('R'))
print(my_str.count('S'))
print(my_str.center(5))
print(my_str.casefold())
print(my_str.encode())

False
False
True
False
False
False
False
False
True
False
True
False
Ravi seshadri
False
True
1
Ravi Seshadri
ravi seshadri
b'Ravi Seshadri'

## Boolean and Logical Operations

In [7]:
True and False

False

In [8]:
True or False

True

In [9]:
True or True

True

In [10]:
True and True

True

In [11]:
False or False

False

In [12]:
False and False

False

In [13]:
str_example='Hello World'
my_str='Ravi'

In [14]:
my_str.isalpha() or str_example.isnumeric()

True

In [15]:
my_str1="Ravi123"

In [16]:
my_str.isalnum()

True

In [17]:
list = ['M','B',100,200]
type(list)

list

In [18]:
len(list)

4

## Append

In [19]:
#append is used to add elements in the list
list.append("Ravi")

In [20]:
list

['M', 'B', 100, 200, 'Ravi']

In [21]:
##Indexing in list
list[4]

'Ravi'

In [22]:
list[:]

['M', 'B', 100, 200, 'Ravi']

In [23]:
list[1:5]

['B', 100, 200, 'Ravi']

In [24]:
list[1:]

['B', 100, 200, 'Ravi']

In [25]:
list.append(["john","Bala"])

In [26]:
list

['M', 'B', 100, 200, 'Ravi', ['john', 'Bala']]

## Insert

In [27]:
#insert in a specific folder
list.insert(1,"Seshadri")

In [28]:
list

['M', 'Seshadri', 'B', 100, 200, 'Ravi', ['john', 'Bala']]

In [29]:
list.insert(7,"Rohan")

In [30]:
list

['M', 'Seshadri', 'B', 100, 200, 'Ravi', ['john', 'Bala'], 'Rohan']

## Various Operations that we can perform in List

In [31]:
list_1=[1,2,3,4,5]

In [32]:
sum(list_1)

15

In [33]:
list_1.extend([8,9])

In [34]:
list_1

[1, 2, 3, 4, 5, 8, 9]

In [35]:
sum(list_1)

32

In [36]:
list_1*5

[1,
 2,
 3,
 4,
 5,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 8,
 9,
 1,
 2,
 3,
 4,
 5,
 8,
 9]

## Pop() Method

In [37]:
list_1.pop()

9

In [38]:
list_1

[1, 2, 3, 4, 5, 8]

In [39]:
list_1.pop(0)

1

In [40]:
list_1

[2, 3, 4, 5, 8]

## count():Calculates the total occurence of given element in List

In [41]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [42]:
#Length:Calculates total length of list
len(lst)

6

In [43]:
#index():Returns the index of first occurence. Start and end index are not necessary parameters
lst.index(1,0,4)
lst.index(1,1)

1

In [44]:
#Min and Max
min(lst)

1

In [45]:
max(lst)

5