# SETS

A set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. 
Python's set class represents the mathematical notion of a set. 
This is based on a data structure known as hash table.

In [1]:
##Defining an empty set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var={"Avengers","Ironman","Hitman"}
print(set_var)
type(set_var)

{'Ironman', 'Hitman', 'Avengers'}

set

In [3]:
##Indexing

#set_var(0)
#set_var['Avengers']

In [4]:
## Inbuilt function in sets

set_var.add("Hulk")
set_var

{'Avengers', 'Hitman', 'Hulk', 'Ironman'}

In [5]:
set1={"Avengers","Hitman","IronMan"}
set2={"Avengers","Hitman","IronMan","Hulk2"}

In [6]:
#Difference
set2.difference(set1)

{'Hulk2'}

In [7]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [8]:
#Difference update
set2.difference_update(set1)

In [9]:
set2

{'Hulk2'}

In [10]:
#Intersection
set2.intersection(set1)
set2

{'Hulk2'}

In [11]:
#Intersection update
set2.intersection_update(set1)
set2

set()

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed.
In Python dictionaries are written with curly brackets, and they have keys and values

In [12]:
dic={}

In [13]:
type(dic)

dict

In [14]:
set_ex={1,2,3,4,5}

In [15]:
type(set_ex)

set

In [16]:
##Lets create a dictionary

my_dict={"car1" : "Audi" , "car2" : "BMW" , "car3" : "Mercedes Benz"}

In [17]:
type(my_dict)

dict

In [18]:
##Access the values based on keys

my_dict['car1']

'Audi'

In [19]:
#We can even loop through the dictionaries keys

for x in my_dict:
    print(x)

car1
car2
car3

In [20]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes Benz

In [21]:
##We can also check both keys and values

for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercedes Benz')

In [22]:
##Adding items in dictionaries

my_dict['car4']='Maserati'

In [23]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercedes Benz', 'car4': 'Maserati'}

In [24]:
my_dict['car1']='Maruti'

In [25]:
my_dict

{'car1': 'Maruti', 'car2': 'BMW', 'car3': 'Mercedes Benz', 'car4': 'Maserati'}

## Nested Dictionary

In [26]:
car1_model={'Mercedes':1960}
car2_model={'Audi': 1970}
car3_model={'Ambassdor':1980}

car_type={'car1' : car1_model , 'car2' : car2_model , 'car3' : car3_model}

In [27]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassdor': 1980}}

In [28]:
##Accessing the items in dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [29]:
print(car_type['car1']['Mercedes'])

1960

# Tuples

In [30]:
##create an empty tuples

my_tuple=tuple()

In [31]:
type(my_tuple)

tuple

In [32]:
my_tuple=()

In [33]:
type(my_tuple)

tuple

In [34]:
my_tuple=("Ravi","Ram","Suddu")

In [35]:
my_tuple=('Hello' ,'World')

In [36]:
print(my_tuple)

('Hello', 'World')

In [37]:
#Inbuilt Function
my_tuple.count('Ravi')

0

In [38]:
my_tuple_one=("Ravi","Ram","Suddu","John","Alice","Bob")

In [39]:
my_tuple_one.index('John')

3